@import "./../fonts/Gilroy/stylesheet.css";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html, body {
  font-family: "Gilroy", sans-serif;
  color: #1e1e1e;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.header {
  position: relative;
  padding-top: 40px;
  background-image: url("./../img/header/header-bg.jpg");
  aspect-ratio: 1440/1084;
  background-size: cover;
  color: #FFF;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url("./../img/header/header-bg@2x.jpg");
  }
}
.header a {
  color: #FFF;
}

.header-nav {
  margin-bottom: 86px;
}

.header-content {
  text-align: center;
}
.header-content p {
  max-width: 606px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.8;
}

.header-title {
  margin-bottom: 14px;
  font-size: 80px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.8px;
  text-transform: capitalize;
}

.header-search {
  margin: 45px auto 0;
}

.header-dot-sofa {
  position: absolute;
  top: 63.1918819188%;
  left: 20.5555555556%;
}

.header-dot-vase {
  position: absolute;
  top: 69.557195572%;
  left: 7.9166666667%;
  transform: translate(-50%, -50%);
}

.header-dot-item {
  position: absolute;
  top: 72.6014760148%;
  left: 56.25%;
  transform: translate(-50%, -50%);
}

.header-dot-wall {
  position: absolute;
  top: 75.7380073801%;
  right: 3.2638888889%;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}

.logo {
  align-self: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}

.nav-list {
  justify-self: center;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  gap: 65px;
}

.cart {
  justify-self: end;
  align-self: center;
  position: relative;
}

.cart-count {
  position: absolute;
  top: 3px;
  right: -6px;
  display: inline-block;
  height: 25px;
  padding: 0 6px;
  background-color: #E58411;
  border-radius: 40px;
  line-height: 25px;
  font-weight: 700;
}

.search-form {
  max-width: 344px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 8px 8px 8px 20px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.search-form-input {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-style: normal;
}
.search-form-input::-moz-placeholder {
  color: #fff;
  font-weight: 400;
  opacity: 0.8;
}
.search-form-input::placeholder {
  color: #fff;
  font-weight: 400;
  opacity: 0.8;
}

.search-form-btn {
  border-radius: 24px;
  background-color: #E58411;
  padding: 11px;
}

.info-dot {
  position: relative;
  cursor: pointer;
}

.info-dot-circle {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFF;
  transition: all 0.2s ease-in;
}

.info-dot-radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #FFF;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot-radius {
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot-circle {
  background-color: #E58411;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 12px;
  width: 112px;
  height: 156px;
  background-image: url(./../img/icons/hint.svg);
  background-repeat: no-repeat;
}

.info-hint-radio:checked + .info-hint-fake {
  background-image: url(./../img/icons/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center, center;
}

.info-hint-radio {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.info-hint-fake {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: grey;
  border: 2px solid #FFF;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.info-hint-fake--orange {
  background-color: #E58411;
}
.info-hint-fake--blue {
  background-color: #00D6C9;
}
.info-hint-fake--grey {
  background-color: #7c7c7c;
}

.benefits {
  padding: 120px 0;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.benefits-title {
  font-size: 42px;
  font-weight: 700;
  max-width: 260px;
}

.benefit-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.benefit-text {
  margin-bottom: 14px;
  line-height: 180%;
  opacity: 0.8;
}

.products {
  background-color: #F7F7F7;
  padding: 50px 0;
}

.products-title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.products-tabs {
  margin-bottom: 80px;
  text-align: center;
}

.products-slider {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.products-link {
  text-align: center;
}

.read-more {
  color: #E58411;
  font-size: 14px;
  font-weight: 500;
  line-height: 185%;
  display: inline-flex;
  align-items: center;
  gap: 13px;
}
.read-more::after {
  content: url("./../img/icons/arrow-right.svg");
  height: 24px;
}
.read-more-large {
  font-size: 18px;
}

.tab-controls {
  display: inline-flex;
  padding: 6px;
  align-items: center;
  border-radius: 44px;
  background-color: #eee;
}

.tab-controls-btn {
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  color: rgba(31, 31, 31, 0.8);
  font-weight: 500;
  font-size: 18px;
  line-height: 185%; /* 33.3px */
  transition: background-color 0.2s ease-in;
}
.tab-controls-btn:hover {
  background-color: rgba(218, 218, 218, 0.5);
}
.tab-controls-btn--active {
  background-color: #FFF;
}

.card {
  width: 268px;
  font-family: "Inter", sans-serif;
}

.card-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-photo {
  height: 240px;
  border-radius: 20px 20px 0 0;
  background-color: #FAFAFA;
  text-align: center;
  margin-top: 50px;
}

.card-desc {
  border-radius: 0 0 20px 20px;
  background-color: #FFF;
  height: 202px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 14px 22px 28px;
}

.card-img {
  width: 225px;
  margin-top: -50px;
}

.card-category {
  color: #8D8D8D;
  font-size: 16px;
}

.card-title {
  color: #0D1B39;
  font-size: 21px;
  font-weight: 600;
  text-transform: capitalize;
}

.card-rating {
  display: flex;
  gap: 3px;
}

.card-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  font-size: 21px;
  font-weight: 600;
  color: #0D1B39;
}
.card-price::before {
  content: attr(data-value);
  font-size: 15px;
}

.card-button {
  width: 48px;
  height: 48px;
  border-radius: 31px;
  background: #0D1B39;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}
.card-button:hover {
  opacity: 0.8;
}

.slider {
  display: flex;
  gap: 42px;
}/*# sourceMappingURL=main.css.map */