.benefits {
    padding: 120px 0;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.benefits-title {
    font-size: 42px;
    font-weight: 700;

    max-width: 260px;
}