.cart {
    justify-self: end;
    align-self: center;
    position: relative;
}

.cart-count {
    position: absolute;
    top: 3px;
    right: -6px;


    display: inline-block;
    height: 25px;
    padding: 0 6px;


    background-color: $accent-color;
    border-radius: 40px;


    line-height: 25px;
    font-weight: 700;
}