.info-dot {
    position: relative;
    cursor: pointer;
}

.info-dot-circle {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFF;

    transition: all 0.2s ease-in;
}

.info-dot-radius {
    width: 32px;
    height: 32px;

    border: 0.86px solid #FFF;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);

    animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot-radius {
    animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot-circle {
    background-color: $accent-color;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}