.nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 20px;
}

.logo {
    align-self: center;
    font-size: 28px;
    font-weight: 700;    
    letter-spacing: 0.28px;
    text-transform: capitalize;
}