$text-color: #1e1e1e;
$accent-color: #E58411;
$text-muted: #8D8D8D;
$card-dark-blue: #0D1B39;

$header-text-color: #FFF;

$footer-text-color: #FFF;
$footer-bg: #2D2F33;


$ui-blue: #00D6C9;
$ui-grey: #7c7c7c;
$ui-orange: #E58411;
$ui-dark-blue: #0D1B39;

$font-main: 'Gilroy', sans-serif;
$font-cards: 'Inter', sans-serif;
$font-footer-accent: 'DM Sans', sans-serif;




@mixin retina-bg ($image) {
    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
        background-image: $image;
} 
}